[common]
listen_host = '0.0.0.0'
listen_port = 9000
log_dir = "./log/"
log_level = "INFO"
log_rotation_days = 30
common_task_parallel_processing_count = 4  # 普通的后台任务的并行限制数量
gpu_task_parallel_processing_count = 1  # GPU密集型后台任务的并行限制数量
low_gpu_memory_mode = false

[model]
[model.llm]
base_url = 'http://ollama:11434/v1'
api_key = ''
model = 'qwen3.5:35b'

[model.embedding]
base_url = 'http://ollama:11434/v1'
api_key = ''
model = 'dengcao/Qwen3-Embedding-8B:Q5_K_M'
dimension = 4096  # 此参数与embedding模型相关联，qwen3-embedding:8b的输出维度为4096

[model.reranker]
base_url = 'http://ollama:11434/v1'
api_key = ''
model = 'dengcao/Qwen3-Reranker-8B:Q5_K_M'

[milvus]
url = 'http://milvus:19530'
token = ''
database = 'chip_testing_flowcard_generator'
chunk_size = 1200
chunk_overlap = 200
top_k = 4

[pdf_craft]
ocr_model_size= "gundam"  # 可选：tiny, small, base, large, gundam
# pdf-craft需要连接huggingface.co以下载Deepseek OCR模型，部分网络环境可能需要代理
proxy_enabled = false
http_proxy = 'http://127.0.0.1:7890'
https_proxy = 'http://127.0.0.1:7890'
